@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-green: rgba(0, 198, 94, 0.3);
  --bright-green: rgba(0, 198, 94, 1);
  --light-gray: rgba(247, 247, 247, 1);
  --medium-gray: rgba(218, 220, 220, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --dark-gray: rgba(38, 38, 38, 1);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
