.header{
    margin-bottom: 50px;
}
.slider{
    position: relative;
    z-index: 0 !important;
}
.slide{
    min-width: 100%;
    height: 500px !important;
}
.slideImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}