.footer {
  width: 100%;
}
.footerInner {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right {
  display: flex;
  align-items: center;
  gap: 6px;
}
.socialBox {
  display: flex;
  align-items: center;
}

@media (max-width: 430px) {
  .footerInner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}
